
<div class="container liquidaciones">
    <div class="form">
        <h1>MODULO DE INGRESO</h1>
        <form [formGroup]="liquidacionesForm" (ngSubmit)="onSubmit()">
            <label>NIT Empresa</label>
            <mat-form-field appearance="fill">
                <mat-label>NIT Empresa</mat-label>
                <input matInput id="nit" type="text" formControlName="nit" maxlength="10">
                <mat-error *ngIf="liquidacionesForm.get('nit')?.invalid">
                    <!--Validaciones-->
                    {{nitErrorMessage()}}
                </mat-error>
            </mat-form-field>
            <br>
            <label>Mes a Liquidar</label>
            <mat-form-field appearance="fill">
                <mat-label>Mes a liquidar</mat-label>
                <mat-select  id="mesSeleccion" type="text"  formControlName= "mes"  >
                    <mat-option [value]="mes"  *ngFor="let mes of fechasLiquidar.mesesLiquidar">{{mes}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <label>Año a Liquidar</label>
            <mat-form-field appearance="fill">
                <mat-label>Año a liquidar</mat-label>
                <mat-select formControlName="year" >
                    <mat-option [value]="ano"  *ngFor="let ano of fechasLiquidar.anosLiquidar" >{{ano}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
        </form>
    </div>
</div>