<div class="container">
  <div class="titleTabla">
    <p>MES LIQUIDADO</p>
    <h1>{{liquidacionEmpresa.mesLiquidacion}}</h1>
  </div>
  <div class="titleTabla">
    <p>Empresa</p>
    <h1>{{liquidacionEmpresa.nombreEmpresa}}</h1>
  </div>
  <div class="ListTabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.placaVehiculo}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Descargas">
        <th mat-header-cell *matHeaderCellDef> Descargas </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroDescargas}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

     
      <ng-container matColumnDef="Descuentos">
        <th mat-header-cell *matHeaderCellDef> Descuentos </th>
        <td mat-cell *matCellDef="let element"> {{element.descuentos}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      
      <ng-container matColumnDef="Valor a Pagar">
        <th mat-header-cell *matHeaderCellDef> Valor a Pagar </th>
        <td mat-cell *matCellDef="let element"> {{element.valorAPagar | currency}} </td>
        <td mat-footer-cell *matFooterCellDef> {{solicitarTotalPagar() | currency}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione la pagina"></mat-paginator>-->
  </div>
</div>