<div class="container">
  <mat-grid-list cols="2" rowHeight="600px" gutterSize="50px">
      <mat-grid-tile>
          <mat-card class="main-card" >
            <mat-icon>local_shipping</mat-icon>
              <mat-card-content>
                  <h1 id="sb">
                      ADMINISTRAR VEHICULOS
                  </h1>
                  <p>Para acceder a la administracion de los vehiculos, ingrese aqui.</p>
              </mat-card-content>
              <mat-card-actions>
                  <a class="button rounded" [routerLink]="['/vehiculosAdmin']">Ingresar</a>
              </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list>

</div>